<!DOCTYPE html>
<html lang="${lang}">
	<head>
		<meta charset="UTF-8">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>${title}</title>				
		<meta property="fb:app_id" content="1814789482105372" />
		<meta name="twitter:card" value="summary_large_image">
		<meta name="twitter:image" content="http://gabitoju.uy/datalab/img/${img}">
		<meta name="twitter:creator" content="@gabitoju"> 
		<meta name="twitter:site" content="@gabitoju"> 
		<meta property="og:title" content="${title}" /> 
		<meta property="og:type" content="article" />
		<meta property="og:url" content="http://gabitoju.uy/${url}" />
		<meta property="og:image" content="http://gabitoju.uy/datalab/img/${img}" />
		<meta property="og:description" content="${description}" />		
		<link rel="canonical" href="http://gabitoju.uy/${url}" />
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
        <script type="text/javascript" src="js/jquery.min.js"></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BZCL90CN35"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-BZCL90CN35');
        </script>

	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<div class="container">
					<div class="row">
                        <div class="col-md-3">
                            <h1 style="background:none"><span class="pull-left"><a id="bckdl" href="/datalab" style="color: #eee;">Data Lab</a></span></h1>
                        </div>                        
                        <h1><a href="/" style="color:#242E35;">gabitoju</a></h1>                        
					</div>
				</div>
			</div>					
			<div class="container">
				<div class="row">
					${content}				
				</div>
			</div>
		</div>		    
		<a href="https://github.com/gabitoju"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
        <script>            
            if ($('html').attr('lang') == 'en') {
                $('#bckdl').attr('href', 'index_en.html');
            }
        </script>

	    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	</body>
</html>
