<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>${title}</title>		
		<link href="css/style.css" rel="stylesheet">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-glyphicons.css" rel="stylesheet">
		<style type="text/css">

		</style>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<div class="container">
					<div class="row">
						<h1>gabitoju</h1>
					</div>
				</div>
			</div>					
			<div class="container">
				<div class="row">
					${content}				
				</div>
			</div>
		</div>	
	    <script type="text/javascript" src="js/jquery.min.js"></script>        
	    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	    <script type="text/javascript">
	        
	          var _gaq = _gaq || [];
	          _gaq.push(['_setAccount', 'UA-33409917-1']);
	          _gaq.push(['_trackPageview']);
	        
	          (function() {
	            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	          })();
	        
	    </script>        
		<a href="https://github.com/gabitoju"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>	    
	</body>
</html>
