<!DOCTYPE html>
<html lang="${lang}">
	<head>
		<meta charset="UTF-8">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>${title}</title>				
		<meta property="fb:app_id" content="1814789482105372" />
		<meta name="twitter:card" value="summary_large_image">
		<meta name="twitter:image" content="http://gabitoju.uy/datalab/img/${img}">
		<meta name="twitter:creator" content="@gabitoju"> 
		<meta name="twitter:site" content="@gabitoju"> 
		<meta property="og:title" content="${title}" /> 
		<meta property="og:type" content="article" />
		<meta property="og:url" content="http://gabitoju.uy/${url}" />
		<meta property="og:image" content="http://gabitoju.uy/datalab/img/${img}" />
		<meta property="og:description" content="${description}" />		
		<link rel="canonical" href="http://gabitoju.uy/${url}" />
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
        <script type="text/javascript" src="js/jquery.min.js"></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BZCL90CN35"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-BZCL90CN35');
        </script>
        <style>.github-fork-ribbon:before { background-color: #121621; }</style>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<div class="container">
					<div class="row">
                        <div class="col-md-3">
                            <h1 style="background:none"><span class="pull-left"><a id="bckdl" href="/datalab" style="color: #eee;">Data Lab</a></span></h1>
                        </div>                        
                        <h1><a href="/" style="color:#242E35;">gabitoju</a></h1>                        
					</div>
				</div>
			</div>					
			<div class="container">
				<div class="row">
					${content}				
				</div>
			</div>
		</div>		    
        <a class="github-fork-ribbon" href="https://github.com/gabitoju" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
        <script>            
            if ($('html').attr('lang') == 'en') {
                $('#bckdl').attr('href', 'index_en.html');
            }
        </script>

	    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	</body>
</html>
