@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,400italic|Open+Sans);
body {
	padding-bottom: 40px;
	font-family: 'Open Sans', sans-serif;

}			
#menu-left {
	border-style: solid;
	border-width: 1px;
	border-color: #F7F5FA;
	border-radius: 6px;
	background-color: #F7F5FA;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #E0E0E0;
}
h1 {
	margin-top: 0px;				
}
h4 {
	color: #563D7C;
}
.page-header h1 {
	color: #242E35;	
	font-size: 50px;
	font-family: 'Ubuntu', Segoe UI Light, Segoe UI, Tahoma, sans-serif;
	text-align: right;
	background-image: url(../../images/t.jpg);
	width: 100%;
	background-position: 0px -130px;
    padding-bottom: 5px;
    font-weight: none;
    padding-top: 0px;:
}
.page-header a:hover {
	text-decoration: none;
}
.affix-top {
	width: 300px;
}            
.affix {
	position:fixed;
	margin-top: -110px;
    width: 300px;
}   
p {
	font-size: 16px;
	line-height: 1.5;
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Ubuntu', Segoe UI Light, Segoe UI, Tahoma, sans-serif;
    padding-top: 10px;
    padding-bottom: 15px;
}

h1 {
    font-size: 38px;
    padding-bottom: 10px;
}
h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}
/**/

footer {
     background-color: #033E72;
     position: relative;
     bottom: 0;
     left: 0;
     width: 100%;
 }

 .social-footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}
.social-footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 24px;
}
.social-footer a:hover {
    color: #007bff;
}
