.page_content {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 73rem;
}

@media (max-width: 768px) {
  .page_content {
    padding: 10px;
    max-width: 95%;
  }
}

header {
  margin: 40px 0 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

header h1 {
  background-image: url(/images/t.jpg);
  color: #242e35;
  font-size: clamp(2rem, 5vw, 50px);
  text-align: right;
  width: 100%;
  background-position: 0px -130px;
  padding-bottom: 5px;
}

header a {
  color: #242E35;
}

header a:hover {
  text-decoration: none;
}

article {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

@media (max-width: 768px) {
  article {
    width: 95%;
  }
}

h2 {
    font-size: clamp(1.8rem, 4vw, 2.5rem)
}

h4 {
    margin-bottom: 20px;
    font-weight: lighter;
}

p {
    margin-bottom: 1.3rem;
    font-size: clamp(1rem, 2.5vw, 1.15rem);
    font-family: -apple-system, 'Open Sans', sans-serif;
    line-height: 1.4;
}

.back p {
    font-family: "JetBrains Mono", monospace;
    font-size: clamp(0.8rem, 2.5vw, 1rem);
}
