@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,400italic|Open+Sans);
* {
    margin: 0;
    padding: 0;
 }

 body {
	font-family: 'Open Sans', sans-serif;
 }

 header, footer {
     display: block;
 }

header {
    margin-top: 20px;
    border-top: thin solid #9EAEB3;
    border-bottom: thin solid #9EAEB3;
}

h1 {
    color: #02243C;
    font-weight: lighter;
    font-family: 'Ubuntu', Segoe UI Light, Segoe UI, Tahoma, sans-serif;
}

 footer {
     background-color: #242E35;
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     padding: 13px 0 10px;
 }

 footer p {
     text-align: center;
     font-family: sans-serif;
     font-size: 11px;
     color: #EEEEE7;
 }
