@import url(//fonts.googleapis.com/css?family=Ubuntu:400,400italic|JetBrains+Mono:ital,wght@0,100..800;1,100..800|Open+Sans&display=swaps);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  color: #333;
  #line-height: 1.42857143;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: block;
}

header {
  margin-top: 20px;
  border-top: thin solid #9eaeb3;
  border-bottom: thin solid #9eaeb3;
}

h1 {
  color: #02243c;
  font-weight: lighter;
  font-family:
    "Ubuntu",
    Segoe UI Light,
    Segoe UI,
    Tahoma,
    sans-serif;
}

footer {
  margin-top: auto;    
  background-color: #033e72;
  clear: both;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer p {
  text-align: center;
  font-family: monospace;
  font-size: 11px;
  color: #eeeee7;
}

a {
  text-decoration: none;
  color: #428bca;
}

a:hover {
  text-decoration: underline;
}

.social-footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}
.social-footer a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  font-size: 24px;
}
.social-footer a:hover {
  color: #007bff;
}

.col-40,
.col-60,
.col-70 {
  float: left;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.left-prussian {
  border-left: solid 1px #033e72;
}

.right {
  float: right !important;
}
